<%- include('header'); -%>

<!-- ======= Featured Services Section ======= -->
<section id="featured-services" class="featured-services">
    <div class="container">

      <div class="row gy-4">

        <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-activity icon"></i></div>
            <h4><a href="" class="stretched-link">Student List</a></h4>
            <p>List of Students class wise</p>
          </div>
        </div><!-- End Service Item -->

       

            <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out">
              <div class="service-item position-relative">
                <div class="icon"><i class="bi bi-activity icon"></i></div>
                <h4><a href="" class="stretched-link">Student List</a></h4>
                <p>List of Students Location wise</p>
              </div>
            </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
            <h4><a href="" class="stretched-link">Todays Attendance</a></h4>
            <p>Class wise</p>
          </div>
        </div><!-- End Service Item -->
        <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
              <h4><a href="" class="stretched-link">Todays Attendance</a></h4>
              <p>Location  wise</p>
            </div>
          </div><!-- End Service Item -->

        
      </div>

    </div>
  </section><!-- End Featured Services Section -->


<%- include('footer'); -%>