<%- include('header'); -%>

<!-- ======= Featured Services Section ======= -->
<section id="featured-services" class="featured-services">
    <div class="container">

      <div class="row gy-4">

        <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-activity icon"></i></div>
            <h4><a href="" class="stretched-link">Chilla</a></h4>
            <p>Discover the hidden gem of Chilla: A peaceful retreat.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
            <h4><a href="/events" class="stretched-link">Shivkuti</a></h4>
            <p>Shivkuti: Escape the hustle and bustle of the city.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
            <h4><a href="/mentors" class="stretched-link">KanshiRam</a></h4>
            <p>Embrace the beauty of KashiRam: An oasis of calm.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="600">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-broadcast icon"></i></div>
            <h4><a href="/student" class="stretched-link">Nayagaao</a></h4>
            <p>Discover the vibrant local traditions of Nayagaao</p>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>
  </section><!-- End Featured Services Section -->


  

  <section id="featured-services" class="featured-services">
    <div class="container">

      <div class="row gy-4">

        <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out">
          <div class="service-item position-relative">
            <!-- <div class="icon"><i class="bi bi-activity icon"></i></div> -->
            <h4><a href="" class="stretched-link"></a></h4>
            <p></p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
            <h4><a href="/events" class="stretched-link">Phaphamau</a></h4>
            <p>Indulge in the serenity of Ganga: A haven for nature lovers.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
            <h4><a href="/mentors" class="stretched-link"></a>Swarajnagar</h4>
            <p>Find tranquility in the heart of nature at Swarjnagar.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="600">
          <div class="service-item position-relative">
            <!-- <div class="icon"><i class="bi bi-broadcast icon"></i></div> -->
            <h4><a href="/student" class="stretched-link"></a></h4>
            <p></p>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>
  </section><!-- End Featured Services Section -->


  


<%- include('footer'); -%>